In [1]:
import pandas as pd

In [2]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [3]:
import time

In [4]:
import warnings
warnings.filterwarnings('ignore')

### ANSWER 1

In [5]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [6]:
#open the url
driver.get("https://www.naukri.com/")

In [7]:
# Find the designation input element by class name
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")

In [8]:
# Enter "Data Analyst" in the designation input field
designation.send_keys("Data Analyst")

In [9]:
#enter "Bangalore" in the location input field by finding absolute XPATH for location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [10]:
# find search button path using CLASS_NAME & click on it
searchBtn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
searchBtn.click()

In [11]:
#Make empty list for values we need to capture
job_title=[]
job_location=[] 
company_name=[]
experience_required=[]

In [12]:
# Find tags for title, location, name, experience required by using relative XPATH
#Fetch title_tags in every iteration and append to the list
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
#fetch location_tags in every iteration and append to the list   
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
#fetch company_name_tags in every iteration and append to the list  
company_name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tags[0:10]:
    company_name.append(i.text)
# fetch experience_required_tags in every iteration and append to the list    
experience_required_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_required_tags[0:10]:
    experience_required.append(i.text)

In [13]:
#Make a dictionary from the list generated 
#convert dictionary to DataFrame
dict_job={"Job Title":job_title,"Job Location":job_location,"Company Name":company_name, "Experience Required":experience_required}
df_job=pd.DataFrame(dict_job)
df_job

Empty DataFrame
Columns: [Job Title, Job Location, Company Name, Experience Required]
Index: []

In [14]:
# close the driver
driver.close()

### ANSWER 2

In [15]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [16]:
#open the url
driver.get('https://www.naukri.com/')

In [17]:
# Find the designation input element by class name
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')

In [18]:
# Enter "Data Scientist" in the designation input field
designation.send_keys("Data Scientist")

In [19]:
#find location element using absolute XPATH, enter "Bangalore" in location element
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [20]:
searchBtn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
searchBtn.click()

In [21]:
job_title=[]
job_location=[] 
company_name=[]

In [22]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tags[0:10]:
    company_name.append(i.text)

In [23]:
dict_job={"Job Title":job_title,"Job Location":job_location,"Company Name":company_name}
df_job=pd.DataFrame(dict_job)
df_job

Empty DataFrame
Columns: [Job Title, Job Location, Company Name]
Index: []

In [24]:
driver.close()

### ANSWER 3

In [25]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [26]:
#open the url
driver.get('https://www.naukri.com/')

In [27]:
# Find the designation input element by class name
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')

In [28]:
# Enter "Data Scientist" in the designation input field
designation.send_keys("Data Scientist")

In [29]:
searchBtn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
searchBtn.click()

In [32]:
#find location checkbox by using absolute XPATH, and select "Delhi/NCR"
locationCheckBox=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
locationCheckBox.click()

In [33]:
#find salary checkbox by using absolute XPATH, and select "3-6 lakhs"
salaryCheckBox=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salaryCheckBox.click()

In [34]:
job_title=[]
job_location=[] 
company_name=[]
experience_required=[]

In [35]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_name_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_name_tags[0:10]:
    company_name.append(i.text)
    
experience_required_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_required_tags[0:10]:
    experience_required.append(i.text)

In [36]:
dict_job={"Job Title":job_title,"Job Location":job_location,"Company Name":company_name, "Experience Required":experience_required}
df_job=pd.DataFrame(dict_job)
df_job

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,"Temp. WFH - Kochi/Cochin, Kolkata, Hyderabad/S...",Cognizant,6-10 Yrs
1,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Tabsquare,1-3 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
5,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
6,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Senior Data Scientist,"Hyderabad/Secunderabad, Chenani, Gurgaon/Gurug...",RecruitEForU,3-8 Yrs
9,Assistant Manager/Senior Manager - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Huquo Consulting Pvt. Ltd,2-7 Yrs

In [37]:
driver.close()

### ANSWER 4

In [105]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [106]:
#open the url
driver.get("https://www.flipkart.com/")

In [107]:
# close the login pop-up
closeBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
closeBtn.click()

In [108]:
# Find the product input element by class name
product=driver.find_element(By.CLASS_NAME,"_3704LK")

In [109]:
# Enter "sunglasses" in the product input field
product.send_keys("sunglasses")

In [110]:
searchBtn=driver.find_element(By.CLASS_NAME,"_34RNph")
searchBtn.click()

In [111]:
sunglassesBrand=[]
productDescription=[]
price=[]
discount=[]

In [112]:
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags:
    sunglassesBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags:
    price.append(i.text)
    
productDiscount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in productDiscount_tags:
    discount.append(i.text)

In [113]:
#check length of lists
print(len(sunglassesBrand))
print(len(productDescription))
print(len(price))
print(len(discount))

40
40
40
40

In [114]:
# go to second page
secondpgbtn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
secondpgbtn.click()

In [115]:
#iteratively capture brand, description, price, discount of sunglasses
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags:
    sunglassesBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags:
    price.append(i.text)
    
productDiscount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in productDiscount_tags:
    discount.append(i.text)

In [116]:
print(len(sunglassesBrand))
print(len(productDescription))
print(len(price))
print(len(discount))

80
80
80
80

In [117]:
# go to third page
thirdpgbtn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
thirdpgbtn.click()

In [118]:
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags[0:20]:
    sunglassesBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags[0:20]:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags[0:20]:
    price.append(i.text)
    
productDiscount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in productDiscount_tags[0:20]:
    discount.append(i.text)

In [119]:
print(len(sunglassesBrand))
print(len(productDescription))
print(len(price))
print(len(discount))

100
100
100
100

In [120]:
dict_sunglasses={"Brand of sunglasses":sunglassesBrand,"Description of sunglasses":productDescription,"Price for sunglasses":price, "Discount on sunglasses":discount}
df_sunglasses=pd.DataFrame(dict_sunglasses)
df_sunglasses

,Brand of sunglasses,Description of sunglasses,Price for sunglasses,Discount on sunglasses
0,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹929,53% off
1,VINCENT CHASE,"Polarized, UV Protection Rectangular Sunglasse...",₹899,55% off
2,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268,83% off
4,PIRASO,UV Protection Clubmaster Sunglasses (54),₹224,85% off
...,...,...,...,...
95,ROYAL SON,Others Retro Square Sunglasses (52),₹224,77% off
96,SRPM,"Others Wayfarer, Retro Square, Rectangular Sun...",₹199,86% off
97,PIRASO,UV Protection Oval Sunglasses (54),₹239,85% off
98,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹728,33% off
99,ROYAL SON,Others Retro Square Sunglasses (52),₹224,77% off

In [121]:
driver.close()

### ANSWER 5

In [231]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [232]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [233]:
rating_list=[]
reviewSummary_list=[]
FullReview_list=[]

In [234]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [235]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

10
10
10

In [236]:
secondpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[2]')
secondpgbtn.click()
time.sleep(5)

In [237]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [238]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

20
20
20

In [239]:
thirdpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]')
thirdpgbtn.click()
time.sleep(5)

In [240]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [241]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

30
30
30

In [242]:
forthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]')
forthpgbtn.click()
time.sleep(5)

In [243]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [244]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

40
40
40

In [245]:
fifthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]')
fifthpgbtn.click()
time.sleep(5)

In [246]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [247]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

50
50
50

In [248]:
sixthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
sixthpgbtn.click()
time.sleep(5)

In [249]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [250]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

60
60
60

In [251]:
seventhpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
seventhpgbtn.click()
time.sleep(5)

In [252]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [253]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

70
70
70

In [254]:
eighthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
eighthpgbtn.click()
time.sleep(5)

In [255]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [256]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

80
80
80

In [257]:
ninthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
ninthpgbtn.click()
time.sleep(5)

In [258]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [259]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

90
90
90

In [260]:
tenthpgbtn=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]')
tenthpgbtn.click()
time.sleep(5)

In [261]:
ratingTags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
for i in ratingTags:
    rating_list.append(i.text)

reviewSummaryTags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in reviewSummaryTags:
    reviewSummary_list.append(i.text)

FullReviewTags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FullReviewTags:
    FullReview_list.append(i.text)

In [262]:
print(len(rating_list))
print(len(reviewSummary_list))
print(len(FullReview_list))

100
100
100

In [263]:
dict_apple_iphone11={"Rating":rating_list,"Review Summary":reviewSummary_list,"Full Review":FullReview_list}
df_apple_iphone11=pd.DataFrame(dict_apple_iphone11)
df_apple_iphone11

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Wonderful,Its good.. a little heavy on my pinky but its ...
96,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
97,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
98,5,Perfect product!,Worth the money’ starting first from its perfo...
99,1,Absolute rubbish!,Worst product delivered by Flipkart\nAfter 10d...

In [264]:
driver.close()

### Answer 6

In [266]:
#run the chrome driver 
driver=webdriver.Chrome("chromedriver.exe")

In [267]:
driver.get("https://www.flipkart.com/")

In [268]:
# close the login page popup
closeBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
closeBtn.click()

In [269]:
# Find the product input element by class name
product=driver.find_element(By.CLASS_NAME,"_3704LK")

In [270]:
# Enter "sneakers" in the product input field
product.send_keys("sneakers")

In [271]:
searchBtn=driver.find_element(By.CLASS_NAME,"_34RNph")
searchBtn.click()

In [272]:
sneakersBrand=[]
productDescription=[]
price=[]

In [273]:
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags:
    sneakersBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags:
    price.append(i.text)

In [274]:
print(len(sneakersBrand))
print(len(productDescription))
print(len(price))

40
40
40

In [275]:
secondpgbtn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
secondpgbtn.click()
time.sleep(5)

In [276]:
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags:
    sneakersBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags:
    price.append(i.text)

In [277]:
print(len(sneakersBrand))
print(len(productDescription))
print(len(price))

80
80
80

In [278]:
thirdpgbtn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')
thirdpgbtn.click()
time.sleep(5)

In [279]:
productBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in productBrand_tags[0:20]:
    sneakersBrand.append(i.text)

productdescription_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
for i in productdescription_tags[0:20]:
    productDescription.append(i.text)

productPrice_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in productPrice_tags[0:20]:
    price.append(i.text)

In [280]:
print(len(sneakersBrand))
print(len(productDescription))
print(len(price))

100
100
100

In [281]:
dict_sneakers={"Brand of sneakers":sneakersBrand,"Description of sneakers":productDescription,"Price for sneakers":price}
df_sneakers=pd.DataFrame(dict_sneakers)
df_sneakers

,Brand of sneakers,Description of sneakers,Price for sneakers
0,RapidBox,Sneakers For Men,₹571
1,New Balance,500 Sneakers For Men,"₹3,583"
2,SFR,Sneakers For Men,₹299
3,AMICO,Sneakers For Men,₹387
4,aadi,Synthetic| Lightweight| Premiun| Comfort| Summ...,₹399
...,...,...,...
95,kardam&sons,luxuryfashion fashionable casual sneaker shoes...,₹349
96,SOLETHREADS,Sneakers For Men,"₹1,099"
97,PUMA,Wild Rider Rollin Sneakers For Women,"₹3,644"
98,Shozie,Party Wear Stylish College Casual Sneakers Sho...,₹587
99,Shozie,Stylish Walking Partywear Sneakers Casual Shoe...,₹499

In [282]:
driver.close()

### ANSWER 7

In [283]:
driver=webdriver.Chrome("chromedriver.exe")

In [284]:
driver.get('https://www.amazon.in/')

In [286]:
# Find the product input element by class name
product_search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

In [287]:
product_search.send_keys("Laptop")

In [288]:
searchBtn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
searchBtn.click()
time.sleep(5)

In [289]:
CPU_CheckBox=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[12]/span/a/div/label/i")
CPU_CheckBox.click()
time.sleep(5)

In [290]:
title=[]
rating=[] 
price=[]

In [291]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title.append(i.text)
    
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating.append(i.text)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price.append(i.text)

In [292]:
dict_laptop={"laptop title":title,"laptop rating":rating,"laptop price":price}
df_laptop=pd.DataFrame(dict_laptop)
df_laptop

,laptop title,laptop rating,laptop price
0,Samsung Galaxy Book2 (NP750) Intel 12th Gen co...,4.1,"79,990"
1,HP Victus Gaming Latest 12th Gen Intel Core i7...,4.3,"77,990"
2,HP OMEN-12th Gen Intel Core i7 16.1-inch(40.9 ...,4.1,"1,66,399"
3,"Lenovo Yoga Slim 7Pro Intel Evo i7 1260P 14""(3...",4.2,"1,03,057"
4,"ASUS TUF Gaming F15 (2022), 15.6""(39.62 cms) F...",4.4,"86,391"
5,"ASUS Vivobook S15 OLED 2022, 15.6"" 39.62 cms F...",4.0,"1,00,990"
6,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,4.3,"84,990"
7,"ASUS TUF Gaming F15 (2022), 15.6"" (39.62 cms) ...",4.1,"83,990"
8,Fujitsu UH-X 12th Gen Intel Evo Core i7 13.3 i...,4.2,"94,990"
9,(Renewed) HP 840g3 Elitebook 14 Inch Screen La...,3.0,"99,990"

In [293]:
driver.close()

### ANSWER 8

In [294]:
driver=webdriver.Chrome("chromedriver.exe")

In [295]:
driver.get('https://www.azquotes.com/')

In [296]:
top_Quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_Quotes.click()

In [299]:
quote_list=[] 
author_list=[]
typeOfQuotes_list=[]

In [300]:
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quote_list.append(i.text)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author_list.append(i.text)
    
typeOfQuotes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in typeOfQuotes_tags:
    typeOfQuotes_list.append(i.text)

In [301]:
print(len(quote_list))
print(len(author_list))
print(len(typeOfQuotes_list))

100
100
100

In [307]:
# from 2nd to 10th page, click on the page hyperlink and fetch the quote's information 
start=2
end=11
for lt in range(start,end):
    # find element using hyperlink text
    clickBtn=driver.find_element(By.LINK_TEXT,str(lt))
    clickBtn.click()
    time.sleep(5)
    quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tags:
        quote_list.append(i.text)

    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        author_list.append(i.text)

    typeOfQuotes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in typeOfQuotes_tags:
        typeOfQuotes_list.append(i.text)

In [308]:
print(len(quote_list))
print(len(author_list))
print(len(typeOfQuotes_list))

1000
1000
1000

In [309]:
dict_quotes={"Quotes":quote_list,"Author":author_list,"Type of Quotes":typeOfQuotes_list}
df_quotes=pd.DataFrame(dict_quotes)
df_quotes

,Quotes,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [310]:
driver.close()

### ANSWER 9

In [320]:
driver=webdriver.Chrome("chromedriver.exe")

In [321]:
driver.get("https://www.jagranjosh.com/")

In [322]:
# click on accept all cookies
acceptBtn=driver.find_element(By.XPATH,"/html/body/div/div[3]/div/div[1]/div/div[2]/div/div[3]/div/a[3]")
acceptBtn.click()

In [323]:
gkBtn=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
gkBtn.click()

In [324]:
pm=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
pm.click()

In [325]:
nameList=[]
bornDeadList=[] 
termOfOfficeList=[]
remarksList=[]

In [336]:
start=2
end=20
for tr in range(start,end):
    #a='/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[3]/table/tbody/tr['+str(tr)+']/td[2]'
    #print(a)
    #driver.find_element(By.XPATH,a)
    name=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[3]/table/tbody/tr['+str(tr)+']/td[2]')
    bornDead=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[3]/table/tbody/tr['+str(tr)+']/td[3]')
    termOfOffice=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[3]/table/tbody/tr['+str(tr)+']/td[4]')
    remarks=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[3]/table/tbody/tr['+str(tr)+']/td[5]')
    nameList.append(name.text)
    bornDeadList.append(bornDead.text)
    termOfOfficeList.append(termOfOffice.text)
    remarksList.append(remarks.text)

In [337]:
dict_pm={"Prime Minister":nameList,"Born-Dead":bornDeadList,"Term Of List":termOfOfficeList, "Remarks":remarksList}
df_pm=pd.DataFrame(dict_pm)
df_pm

,Prime Minister,Born-Dead,Term Of List,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [338]:
driver.close()

### Answer 10

In [351]:
driver=webdriver.Chrome("chromedriver.exe")

In [352]:
driver.get('https://www.motor1.com/')
time.sleep(5)

In [354]:
# find dropdown menu by using absolute XPATH
dropdownMenu=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
dropdownMenu.click()

In [355]:
# find feature button 
featureBtn=driver.find_element(By.XPATH,'//html/body/div[4]/div[1]/div[3]/ul/li[5]/button')
featureBtn.click()

In [356]:
# find list option
listOption=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
listOption.click()
time.sleep(5)

In [357]:
# find 50 most expensive cars link using absolute XPATH
mostExpensiveCars50=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a')
mostExpensiveCars50.click()
time.sleep(5)

In [358]:
car=[]
price=[]

In [359]:
# find car tags using relative XPATH
car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags:
    car.append(i.text)
# find price tags using TAG_NAME
price_tags=driver.find_elements(By.TAG_NAME,'strong')
for i in price_tags:
    price.append(i.text)

In [365]:
car=car[0:50]
car

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [367]:
#one of the price entry is empty,removing from the list
price_modified=[]
for p in price:
    if p!='':
        price_modified.append(p.replace('Price:','').strip())
price_modified

['$1.3 Million',
 '$1.4 Million',
 '$1.4 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.7 Million',
 '$1.8 Million',
 '$1.9 Million',
 '$1.9 Million',
 '$2.0 Million',
 '$2.0 Million',
 '$2.0 Million*',
 '$2.1 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.3 Million',
 '$2.4 Million',
 '$2.5 Million',
 '$2.5 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.6 Million',
 '$2.7 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.0 Million',
 '$3.2 Million',
 '$3.4 Million',
 '$3.5 Million',
 '$3.5 Million',
 '$3.6 Million',
 '$3.6 million',
 '$3.7 Million',
 '$3.9 Million',
 '$4.5 Million',
 '$4.7 Million',
 '$5.0 Million',
 '$5.4 Million',
 '$5.8 Million',
 '$6.4 Million',
 '$7.4 Million',
 '$8.0 Million',
 '$9.0 Million',
 '$10.8 Million',
 '$12.8 Million',
 '$13.4 Million',
 '$28.0 Million (est.)']

In [368]:
print(len(car))
print(len(price_modified))

50
50

In [369]:
dict_car={"Car":car,"Price":price_modified}
df_car=pd.DataFrame(dict_car)
df_car

                                Car                 Price
0                     De Tomaso P72          $1.3 Million
1                 Ferrari LaFerrari          $1.4 Million
2                     Pagani Huayra          $1.4 Million
3                      McLaren Elva          $1.7 Million
4                       Czinger 21C          $1.7 Million
5                     Ferrari Monza          $1.7 Million
6                Gordon Murray T.33          $1.7 Million
7                 Koenigsegg Gemera          $1.7 Million
8                       Zenvo TSR-S          $1.7 Million
9                Hennessey Venom F5          $1.8 Million
10                  Bentley Bacalar          $1.9 Million
11    Hispano Suiza Carmen Boulogne          $1.9 Million
12           Bentley Mulliner Batur          $2.0 Million
13                     Deus Vayanne          $2.0 Million
14                      SSC Tuatara         $2.0 Million*
15                      Lotus Evija          $2.1 Million
16              Aston Martin Vulcan          $2.3 Million
17                       Delage D12          $2.3 Million
18                McLaren Speedtail          $2.3 Million
19                     Rimac Nevera          $2.4 Million
20                    Pagani Utopia          $2.5 Million
21             Pininfarina Battista          $2.5 Million
22                Ferrari FXX K Evo          $2.6 Million
23               Gordon Murray T.50          $2.6 Million
24             Lamborghini Countach          $2.6 Million
25         Mercedes-AMG Project One          $2.7 Million
26              Aston Martin Victor          $3.0 Million
27      Hennessey Venom F5 Roadster          $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie          $3.2 Million
30        W Motors Lykan Hypersport          $3.4 Million
31                    McLaren Solus          $3.5 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport          $3.6 Million
34                 Lamborghini Sian          $3.6 million
35                 Koenigsegg CC850          $3.7 Million
36  Bugatti Chiron Super Sport 300+          $3.9 Million
37               Lamborghini Veneno          $4.5 Million
38                   Bugatti Bolide          $4.7 Million
39                  Bugatti Mistral          $5.0 Million
40              Pagani Huayra Imola          $5.4 Million
41                     Bugatti Divo          $5.8 Million
42              SP Automotive Chaos          $6.4 Million
43                 Pagani Codalunga          $7.4 Million
44         Mercedes-Maybach Exelero          $8.0 Million
45               Bugatti Centodieci          $9.0 Million
46          Bugatti Chiron Profilée         $10.8 Million
47             Rolls-Royce Sweptail         $12.8 Million
48         Bugatti La Voiture Noire         $13.4 Million
49           Rolls-Royce Boat Tail*  $28.0 Million (est.)

In [370]:
driver.close()